<div>
<img src='../pics/banner.PNG'/>
</div>
<div>
<img width="15%" src='../pics/tinlab.png'/>
<strong>Python Basics - Jeroen Boogaard</strong>
</div>

<h1>Samengestelde variabelen - lists</h1>

<h3>List variabelen aanmaken en afdrukken</h3>

**Gebruik teksthaken [] voor het aanmaken van een list variabele**

In [4]:
neptuneInnerMoons = ["Naiad", "Thalassa", "Despina", "Galatea", "Proteus", "Hippocamp", "Larissa"]
neptuneOutermoons = ["Triton", "Halimede", "Sao", "Psamathe", "Laomedeia", "Neso", "Nereid"]
len(neptuneOutermoons)

7

<h3>Exercise 9</h3>
<p>Schrijf een statement om te bewijzen dat Neptunus evenveel binnen- als buitenmanen heeft</p>

In [ ]:
# Oplossing
type(len(neptuneInnerMoons) == len(neptuneOutermoons))

**Gebruik index 0 voor het verkrijgen van het eerste element**

In [ ]:
print("%s is the largest moon of Neptune." %(neptuneOutermoons[0]))

**Met <i>sort()</i> wordt de volgorde van de elementen in een list <u>blijvend veranderd</u>.**

In [5]:
neptuneOutermoons
neptuneOutermoons.sort()
neptuneOutermoons

str = "%s is the largest moon of Neptune." %(neptuneOutermoons[0])
str.upper()

'HALIMEDE IS THE LARGEST MOON OF NEPTUNE.'

**Gebruik de functie len() voor het verkrijgen van het aantal elementen in een list**

In [ ]:
print(f"Neptune is the farthest planet of our solar system and it has { len(neptuneInnerMoons) + len(neptuneOutermoons) } known moons.")

<h3>Elementen toevoegen</h3>

In [6]:
neptuneMoons = []

for neptuneOuterMoon in neptuneOutermoons:
    neptuneMoons.append(neptuneOuterMoon)
    
for neptuneInnerMoon in neptuneInnerMoons:
    neptuneMoons.append(neptuneInnerMoon)

neptuneMoons.sort()    
    
print(neptuneMoons)

['Despina', 'Galatea', 'Halimede', 'Hippocamp', 'Laomedeia', 'Larissa', 'Naiad', 'Nereid', 'Neso', 'Proteus', 'Psamathe', 'Sao', 'Thalassa', 'Triton']

<h3>Elementen verwijderen</h3>

In [ ]:
neptuneMoons.remove('Naiad')
print(neptuneMoons)

**Gebruik <i>pop()</i> om het laaste element <u>uit</u> de lijst te halen**

In [ ]:
firstNeptuneMoon = neptuneMoons.pop()
print(f"Popped {firstNeptuneMoon} from neptuneMoons")
print(f"{neptuneMoons}")

<h3>Excercise 10</h3>
<p>Maak een nieuwe lijst <i>lowerMoons</i> met alle <u>neptuneMoons</u> in <u>lowercase</u>.

In [11]:
lowerMoons = [moons.lower() for moons in neptuneMoons]
# newlist = [x for x in fruits if "a" in x]
lowerMoons

['despina',
 'galatea',
 'halimede',
 'hippocamp',
 'laomedeia',
 'larissa',
 'naiad',
 'nereid',
 'neso',
 'proteus',
 'psamathe',
 'sao',
 'thalassa',
 'triton']